extends layout

block content
  h1 Abilities List
  div#ability-list
  each ability in abilities_types
    div.ability-card
      a.title(href=ability.url) #{ability.name}
      div.desc #{ability.desc}