extends layout

block content
  h1 Abilities Form
  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name(type='text' name='name' required=true)

    div.form-group
      label(for='desc') Description:
      input#desc(type='text' name='desc' required=true)

    button(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg