extends layout

block content
  h1 Pokemon Search Page

  label(for="search") Name
  input#search(type='text' name='search')

  div.type-selection
    each type in type_list
      button #{type.name}

  h2 Display
  div.display